:root{
    --red_color: #d82c2e;
    --navy_color: #1b3d66;
}

@font-face{
    font-family: "Lato";
    src: url(fonts/Lato/Lato-Regular.ttf);
}
/* GENERAL */
body{
    font-family: "Lato", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
ul, ol{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.white-divider{
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 25px;
}
.red-divider{
    width: 100px;
    height: 2px;
    background-color: var(--navy_color);
    margin: 0 auto;
    margin-bottom: 25px;
}
section{
    padding: 45px 0 80px 0;
}
/* MENU */
.navbar{
    background-color: var(--navy_color);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 0;
}
.navbar .navbar-nav .nav-item{
    display: inline-block;
    float: none;
    font-size: 12.5px;
    vertical-align: top;
    padding: 0 20px;
}
.navbar .navbar-collapse{
    text-align: center;
}
.navbar-nav .nav-item .nav-link{
    transition: all 0.3s ease-in 0s;
}
.nav-item{
    margin: 0;
    padding: 5px;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link.active {
    color: var(--navy_color);
    background-color: #fff;
}
.navbar-light .navbar-toggler{
    border-style: none;
}
.navbar-toggler-icon{
    background-color: #fff important;
}
/* ABOUT */
#about{
    padding-top: 100px;
    background: var(--navy_color);
}
.profile-picture{
    text-align: center;
    margin: 0  auto;
    float: none;
}
#about .heading h1{
    color: white;
    text-transform: uppercase;
}
#about .heading h3{
    color: #000;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background-color: white;
    color: var(--navy_color);
    text-decoration: none;
}
/* SKILLS */
#skills{
    background-color: #fff;
}
#skills .heading h2{
    color: var(--navy_color);
}
#skills .progress{
    height: 20%;
    margin: 30px 20px;
    backface-visibility: #974;
}
#skills .progress-bar{
    background-color: var(--navy_color);
}
#skills h5{
    margin-top: 5px;
    text-shadow: 1px 1px 1px black;
}
/* EXPERIENCE */
#experience{
    background-color: var(--navy_color);
}
#experience .heading h2{
    color: white;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline::before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li::after{
    clear: both;
}
.timeline > li::before, .timeline > li::after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: var(--navy_color);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: white;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: var(--navy_color);
}
/* EDUCATON */
#education{
    background-color: #fff;
}
#education .heading h2{
    color: var(--navy_color);
}
.education-block{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon{
    font-size: 40px;
}
.education-block h3{
    color: var(--navy_color);
}
.education-block h4{
    margin-bottom: 20px;
}
.education-block p{
    font-weight: bold;
}
.education-block .red-divider{
    margin-bottom: 20px;
}
/* PORTFOLIO */
#portfolio{
    background-color: var(--navy_color);
}
#portfolio .heading h2{
    color: #fff;
}
.img-thumbnail{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.img-thumbnail:hover{
    filter: none;
    -webkit-filter: none;
}
/* RECOMMANDATION */
#recommandation{
    background-color:#fff;
}
#recommandation .heading h2{
    color: var(--navy_color);
}
.carousel-control-prev, .carousel-control-next{
    background-image: none;
    color: var(--navy_color);
}
.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    border-color: var(--navy_color);
}
.carousel-indicators li.active{
    background-color: var(--navy_color);
}
#myCarousel .carousel-item{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3{
    color: var(--navy_color);
    font-style: italic;
}
/* FOOTER */
footer{
    background-color: #333;
    padding: 20px 0 40px 0;
}
footer .glyphicon{
    font-size: 25px;
    margin: 20px;
    color: var(--navy_color);
    height: 30px;
}
footer .glyphicon:hover{
    font-size: 27px;
}
footer h5{
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
}